@model GaraManagement.Models.GoodsDeliveryNote

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_TabsLayout.cshtml";
}

<div class="table-area">
    <h1>Delete</h1>

    <h3>Bạn có chắc chắn không you want to delete this?</h3>
    <div>
        <h4>GoodsDeliveryNote</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.ExportDate)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.ExportDate)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Description)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Description)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.IdRepairNavigation)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.IdRepairNavigation.Id)
            </dd>
        </dl>

        <form asp-action="Delete">
            <input type="hidden" asp-for="Id" />
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            <a asp-action="Index">Back to List</a>
        </form>
    </div>
</div>
<style>
    .tab-action .export > a.btn.btn-default {
        background: white !important;
        color: #0d5cff !important;
        font-weight: 800 !important;
    }
</style>