@using Microsoft.AspNetCore.Http;
@{
    Layout = null;

}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="76x76" href="~/assets/img/apple-icon.png">
    <link rel="icon" type="image/png" href="~/assets/img/favicon.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>
        Gara Management
    </title>
    <meta content='width=device-width, initial-scale=1.0, shrink-to-fit=no' name='viewport' />
    <!--     Fonts and icons     -->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
    <script src="https://kit.fontawesome.com/da5c22bb38.js" crossorigin="anonymous"></script>
    <!-- CSS Files -->
    <link href="~/assets/css/material-dashboard.css?v=2.1.2" rel="stylesheet" />
    <!-- CSS Just for demo purpose, don't include it in your project -->
    <link href="~/assets/demo/demo.css" rel="stylesheet" />
    <link href="~/assets/css/customStyleLayout.css" rel="stylesheet" />

</head>

<body class="">
    <div class="wrapper ">
        <div class="sidebar" data-color="azure" data-background-color="black" data-image="../../assets/img/sidebar-2.jpg">
            <!--
                Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

                Tip 2: you can also add an image using data-image tag
            -->
            <div class="logo">
                <img src="../../img/@Context.Session.GetString("SessionAvatar")" alt="Avatar" />
                <h5 class="text-username">@Context.Session.GetString("SessionName")</h5>
            </div>
            <div class="sidebar-wrapper">
                <ul class="nav">
                    <li class="nav-item dashBoard">
                        <a class="nav-link" asp-controller="DashBoard" asp-action="Index">
                            <i class="fas fa-chart-line"></i>
                            <p>Dashboard</p>
                        </a>
                    </li>
                    <li class="nav-item employ">
                        <!--sub menu quản lý nhân viên-->
                        <a class="nav-link user-btn" href="#">
                            <i class="fas fa-user-cog"></i>
                            <p>QL nhân viên <span class="fas fa-caret-down user"></span></p>
                        </a>
                        <ul class="nav subUser">
                            <li class="nav-item employee"><a class="nav-link" asp-controller="Employees" asp-action="Index"><i class="far fa-id-badge"></i><p>Cập nhật hồ sơ</p></a></li>

                        </ul>
                    </li>
                    <li class="nav-item Custom">
                        <!--sub menu quản lý khách hàng-->
                        <a class="nav-link customer-btn" href="#">
                            <i class="fas fa-user-tie"></i>
                            <p>QL khách hàng <span class="fas fa-caret-down customer"></span></p>
                        </a>
                        <ul class="nav subCustomer">
                            <li class="nav-item customer-profile"><a class="nav-link" asp-controller="Customers" asp-action="Index"><i class="far fa-id-card"></i><p>Hồ sơ khách hàng</p></a></li>
                            <li class="nav-item car"><a class="nav-link" asp-controller="Cars" asp-action="Index"><i class="fas fa-car"></i><p>Thông tin xe</p></a></li>
                        </ul>
                    </li>
                    <li class="nav-item repairMenu">
                        <!--sub menu quản lý sửa chữa-->
                        <a class="nav-link repair-btn" href="#">
                            <i class="fas fa-tools"></i>
                            <p>Sửa chữa <span class="fas fa-caret-down repair"></span></p>
                        </a>
                        <ul class="nav subRepair">
                            <li class="nav-item repairs"><a class="nav-link" asp-controller="Repairs" asp-action="Index"><i class="fas fa-exchange-alt"></i><p>Xe nhập xuất xưởng</p></a></li>
                            @*<li class="nav-item "><a class="nav-link" href="#"><i class="fas fa-file-invoice"></i><p>Lập phiếu sửa chữa</p></a></li>*@
                            <li class="nav-item service"><a class="nav-link" asp-controller="Services" asp-action="Index"><i class="fab fa-stripe-s"></i><p>Dịch vụ</p></a></li>
                            <li class="nav-item work"><a class="nav-link" asp-controller="Works" asp-action="Index"><i class="fas fa-cogs"></i><p>Công việc</p></a></li>
                            <li class="nav-item pay"><a class="nav-link" asp-controller="Pays" asp-action="Index"><i class="fas fa-receipt"></i><p>Biên lai</p></a></li>
                        </ul>
                    </li>
                    <li class="nav-item wareHouseMenu">
                        <!--sub menu quản lý kho vật tư-->
                        <a class="nav-link warehouse-btn" href="#">
                            <i class="fas fa-truck-loading"></i>
                            <p>Kho vật tư <span class="fas fa-caret-down warehouse"></span></p>
                        </a>
                        <ul class="nav subWarehouse">
                            <li class="nav-item material"><a class="nav-link" asp-controller="Materials" asp-action="Index"><i class="far fa-id-badge"></i><p>Thông tin vật tư</p></a></li>
                            <li class="nav-item typeOfSupplies"><a class="nav-link" asp-controller="TypeOfSupplies" asp-action="Index"><i class="fas fa-layer-group"></i><p>Loại vật tư</p></a></li>
                            @*<li class="nav-item PriceMaterials"><a class="nav-link" asp-controller="PriceMaterials" asp-action="Index"><i class="fas fa-layer-group"></i><p>Giá vật tư</p></a></li>*@
                            <li class="nav-item supplier"><a class="nav-link" asp-controller="Suppliers" asp-action="Index"><i class="fas fa-boxes"></i><p>Nhà cung cấp</p></a></li>
                            <li class="nav-item import-export"><a class="nav-link" asp-controller="GoodsReceivedNotes" asp-action="Index"><i class="fas fa-people-carry"></i><p>Nhập xuất vật tư</p></a></li>
                        </ul>
                    </li>
                    <li class="nav-item CarModel">
                        <!-- menu quản lý dòng xe-->
                        <a class="nav-link" asp-controller="CarModels" asp-action="Index">
                            Dòng xe<i class="far fa-user-circle"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <!--sub menu quản lý Tài khoản-->
                        <a class="nav-link account-btn" href="#">
                            <i class="far fa-user-circle"></i>
                            <p>Quản lý tài khoản <span class="fas fa-caret-down account"></span></p>
                        </a>
                        <ul class="nav subAccount">
                            <li class="nav-item profile_info"><a class="nav-link" asp-controller="Profile" asp-action="Index"><i class="far fa-id-badge"></i><p>Tài khoản cá nhân</p></a></li>
                            <li class="nav-item account_management"><a class="nav-link" asp-controller="Accounts" asp-action="Index"><i class="far fa-id-badge"></i><p>Quản lý tài khoản</p></a></li>
                            <li class="nav-item position_management"><a class="nav-link" asp-controller="Positions" asp-action="Index"><i class="far fa-id-badge"></i><p>Quản lý chức vụ</p></a></li>
                            <li class="nav-item history"><a class="nav-link" asp-controller="Histories" asp-action="Index"><i class="far fa-id-badge"></i><p>Lịch sử</p></a></li>

                        </ul>
                    </li>
                    @*<li class="nav-item ">
                            <a class="nav-link" href="./notifications.html">
                                <i class="material-icons">notifications</i>
                                <p>Notifications</p>
                            </a>
                        </li>*@
                </ul>
            </div>
            <div class="sidebar-background" style="background-image: url(../assets/img/sidebar-2.jpg)"></div>
        </div>
        <div class="main-panel">
            <!-- Navbar -->
            <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
                <div class="container-fluid">

                    <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="navbar-toggler-icon icon-bar"></span>
                        <span class="navbar-toggler-icon icon-bar"></span>
                        <span class="navbar-toggler-icon icon-bar"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-end">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link" href="javascript:;">
                                    <i class="material-icons">dashboard</i>
                                    <p class="d-lg-none d-md-block">
                                        Stats
                                    </p>
                                </a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="material-icons">notifications</i>
                                    <span class="notification">5</span>
                                    <p class="d-lg-none d-md-block">
                                        Some Actions
                                    </p>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                                    <a class="dropdown-item" href="#">Mike John responded to your email</a>

                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link" href="javascript:;" id="navbarDropdownProfile" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="material-icons">person</i>
                                    <p class="d-lg-none d-md-block">
                                        Account
                                    </p>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownProfile">
                                    <a class="dropdown-item" asp-controller="Profile" asp-action="Index">Profile</a>
                                    <a class="dropdown-item" href="#">Settings</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" asp-controller="LogOut" asp-action="Index">Log out</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <!-- End Navbar -->
            <!--Content-->
            <div class="content">
                @RenderBody()
            </div>
            <!--End Content-->
        </div>
    </div>
    <!--   Core JS Files   -->
    <script src="~/assets/js/core/jquery.min.js"></script>
    <script src="~/assets/js/core/popper.min.js"></script>
    <script src="~/assets/js/core/bootstrap-material-design.min.js"></script>
    <script src="~/assets/js/plugins/perfect-scrollbar.jquery.min.js"></script>
    <script type="text/javascript" src="~/assets/js/MDB/js/addons/datatables.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-growl/1.0.0/jquery.bootstrap-growl.min.js"></script>



    <script type="text/javascript" src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
    @RenderSection("Scripts", required: false)


<script>

    //Permission
    $(document).ready(function () {
        $(".account_management").css("display", "none");
        $(".position_management").css("display", "none");
        $(".history").css("display", "none");
        $(".dashBoard").css("display", "none");
        $(".employ").css("display", "none");
        $(".Custom").css("display", "none");
        $(".CarModel").css("display", "none");
        $(".wareHouseMenu").css("display", "none");
        $(".repairMenu").css("display", "none");

        if ("@Context.Session.GetString("PermissionAdmin")" == "Yes") {
            $(".account_management").css("display", "block");
            $(".position_management").css("display", "block");
            $(".history").css("display", "block");
            $(".dashBoard").css("display", "block");
            $(".employ").css("display", "block");
            $(".Custom").css("display", "block");
            $(".CarModel").css("display", "block");
            $(".wareHouseMenu").css("display", "block");
            $(".repairMenu").css("display", "block");

        }
        if ("@Context.Session.GetString("PermissionCoVan")" == "Yes") {
            $(".repairMenu").css("display", "block");
            $(".Custom").css("display", "block");
            $(".CarModel").css("display", "block");
        }
        if ("@Context.Session.GetString("PermissionThuKho")" == "Yes") {
            $(".wareHouseMenu").css("display", "block");
        }
        });

        //show submenu

        $('.user-btn').click(function () {
            $('.nav .subUser').toggleClass("show");
            $('.sidebar-wrapper .nav li a .user').toggleClass("rotate");
        });
        $('.customer-btn').click(function () {
            $('.nav .subCustomer').toggleClass("show");
            $('.sidebar-wrapper .nav li a .customer').toggleClass("rotate");
        });
        $('.repair-btn').click(function () {
            $('.nav .subRepair').toggleClass("show");
            $('.sidebar-wrapper .nav li a .repair').toggleClass("rotate");
        });
        $('.warehouse-btn').click(function () {
            $('.nav .subWarehouse').toggleClass("show");
            $('.sidebar-wrapper .nav li a .warehouse').toggleClass("rotate");
        });
        $('.account-btn').click(function () {
            $('.nav .subAccount').toggleClass("show");
            $('.sidebar-wrapper .nav li a .account').toggleClass("rotate");
        });


</script>
</body>
</html>

