<link href="~/assets/js/MDB/css/addons/datatables.min.css" rel="stylesheet">
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/data.js"></script>
<script src="https://code.highcharts.com/modules/drilldown.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script>

<div class="row">
    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
            <div class="card-header card-header-warning card-header-icon">
                <div class="card-icon">
                    <i class="material-icons">content_copy</i>
                </div>
                <p class="card-category">Khách hàng</p>
                <h3 class="card-title">
                    @ViewData["CountCustomer"]
                    <small></small>
                </h3>
            </div>
            <div class="card-footer">
                <div class="stats">
                    <i class="material-icons text-danger">warning</i>
                    <a href="javascript:;">Get More Space...</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
            <div class="card-header card-header-success card-header-icon">
                <div class="card-icon">
                    <i class="material-icons">store</i>
                </div>
                <p class="card-category">Lượt sửa</p>
                <h3 class="card-title">@ViewData["Countrepair"]</h3>
            </div>
            <div class="card-footer">
                <div class="stats">
                    <i class="material-icons">date_range</i> Từ trước tới nay
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
            <div class="card-header card-header-danger card-header-icon">
                <div class="card-icon">
                    <i class="material-icons">info_outline</i>
                </div>
                <p class="card-category">Vật tư</p>
                <h3 class="card-title">@ViewData["Material"]</h3>
            </div>
            <div class="card-footer">
                <div class="stats">
                    <i class="material-icons">local_offer</i> Tracked from Github
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
            <div class="card-header card-header-info card-header-icon">
                <div class="card-icon">
                    <i class="fa fa-twitter"></i>
                </div>
                <p class="card-category">Followers</p>
                <h3 class="card-title">+245</h3>
            </div>
            <div class="card-footer">
                <div class="stats">
                    <i class="material-icons">update</i> Just Updated
                </div>
            </div>
        </div>
    </div>
</div>
<div class="dropdown" style=" width: 10%;">
    <select id="select-year" class="custom-select">
        @{
            var year = Convert.ToInt32(ViewData["year"]);
            for (var i = 2020; i <= year; i++)
            {
                <option value="@i">@i</option>

            }
        }
    </select>
</div>
@*Top sản phẩm chạy nhất*@

<div id="topsp" class="collapse table-area topsp">
    <div class="row header">
        <div class="col-md-11" style="margin-top: 10px;font-size: 20px; color: #6d6d6d;">
            <p style="margin-bottom:0 !important;">Top 3 sản phấm được sử dụng nhiều nhất</p>
        </div>
        <div class="col-md-1">
            <a class="btn btn-sm btn-outline-warning more" data-toggle='modal' data-target='#detailSp'>Xem tất cả</a>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-1">
            <img class="image-field" src="~/assets/img/1st.png" />
        </div>
        <div class="col-md-3">
            <div class="row tensp top1"></div>
            <div class="row soluongsp top1"></div>
        </div>

        <div class="col-md-1">
            <img class="image-field" src="~/assets/img/2nd.png" />
        </div>
        <div class="col-md-3">
            <div class="row tensp top2"></div>
            <div class="row soluongsp top2"></div>
        </div>

        <div class="col-md-1">
            <img class="image-field" src="~/assets/img/3rd.png" />
        </div>
        <div class="col-md-3">
            <div class="row tensp top3"></div>
            <div class="row soluongsp top3"></div>
        </div>
    </div>
    @*Chi tiết thống kê vật tư*@
    @* View Modal*@
    <div id="detailSp" class="modal fade col-md-12" tabindex="-1" role="dialog">
        <div class="modal-dialog w-full" style="max-width: 50%;" role="document">
            <div class="modal-content">

            </div>
        </div>
    </div>
</div>

@*Biểu đồ*@
<figure class="highcharts-figure3">
    <div id="container3"></div>
    <p class="highcharts-description">

    </p>
</figure>
<figure class="highcharts-figure2">
    <div id="container2"></div>
    <p class="highcharts-description">

    </p>
</figure>

<figure class="highcharts-figure4">
    <div id="container4"></div>
    <p class="highcharts-description">

    </p>
</figure>
<figure class="highcharts-figure1">
    <div id="container1"></div>
    <p class="highcharts-description">

    </p>
</figure>
<figure class="highcharts-figure5">
    <div id="container5"></div>
    <p class="highcharts-description">

    </p>
</figure>


<style>

    .select2-container--default .select2-selection--single {
        background-color: white;
        border: 1px solid #aaa;
        border-radius: 5px !important;
        background-image: linear-gradient(to right, #ff0844 0%, #ffb199 100%);
    }

        .select2-container--default .select2-selection--single .select2-selection__rendered {
            color: white !important;
            line-height: 28px;
            border-radius: 5px !important;
        }

    .select2-container--default .select2-results__option--highlighted[aria-selected] {
        color: white;
        background-image: linear-gradient(to right, #ff0844 0%, #ffb199 100%);
    }

    .dashBoard a.nav-link {
        background-color: rgba(200, 200, 200, 0.2);
        border-left: 5px solid #06b8ffc7 !important;
    }

    .main-panel {
        overflow: scroll;
    }

    .highcharts-figure, .highcharts-data-table table {
        min-width: 310px;
        max-width: 800px;
        margin: 1em auto;
    }

    .highcharts-credits {
        display: none;
    }

    #container {
        height: 400px;
    }

    .highcharts-data-table table {
        font-family: Verdana, sans-serif;
        border-collapse: collapse;
        border: 1px solid #EBEBEB;
        margin: 10px auto;
        text-align: center;
        width: 100%;
        max-width: 500px;
    }

    .highcharts-data-table caption {
        padding: 1em 0;
        font-size: 1.2em;
        color: #555;
    }

    .highcharts-data-table th {
        font-weight: 600;
        padding: 0.5em;
    }

    .highcharts-data-table td, .highcharts-data-table th, .highcharts-data-table caption {
        padding: 0.5em;
    }

    .highcharts-data-table thead tr, .highcharts-data-table tr:nth-child(even) {
        background: #f8f8f8;
    }

    .highcharts-data-table tr:hover {
        background: #f1f7ff;
    }

    .topsp {
        margin: 10px 0;
    }

    .header {
        padding: 0px 20px;
        margin-bottom: 0px !important;
    }

    .tensp {
        color: #555;
    }

    .soluongsp {
        margin-top: 10px;
        font-weight: 800;
        font-size: 40px;
        color: #2a2a2a;
    }

    .image-field {
        width: 70px;
        height: 70px;
    }
    .table thead tr th {
        padding: 10px 10px;
        font-size: 15px;
        color: #252525;
        font-weight: 600;
    }
    thead > tr {
        background: #efefef !important;
    }
    .more {
        float: right;
    }
    .highcharts-data-table th.text {
        color: #161616;
    }
    .highcharts-figure1, .highcharts-figure5 {
        float: left;
        width: 50%;
    }
</style>


<script src="~/assets/js/core/jquery.min.js"></script>
<script>
    $(document).ready(function () {

        var year;
        $('#select-year').select2({});

        $("#select-year").change(function () {
        year = $("#select-year option:selected").val();

        $.ajax({
            url: '@Url.Action("GetTopSp")',
            type: "GET",
            data: { year: year },
            success: function (data) {
                $("#topsp").toggle();
                var i = 1;
                $.each(data, function (key, value) {
                    var classTenSp = "tensp.top" + i;
                    var classSlSp = "soluongsp.top" + i;
                    $('.' + classTenSp).text(value.key);
                    $('.' + classSlSp).text(value.sum);
                    i++;
                });
                console.log("Topsp: ",data);
            }
        });

        $(".more").click(function () {
                $.ajax({
                url: '@Url.Action("DetailSp")',
                type: "GET",
                data: { year: year },
                    success: function (data) {
                        $("#detailSp .modal-content").html(data);
                }
            });
        });



        $.ajax({
            url: '@Url.Action("GetcountData")',
            type: "GET",
            data: { year: year },
            success: function (data) {
                console.log("data: ", data);
                Highcharts.chart('container1', {
                    chart: {
                        type: 'column'
                    },
                    title: {
                        text: 'Thống kê số lượng xe năm ' + year
                    },

                    accessibility: {
                        announceNewData: {
                            enabled: true
                        }
                    },
                    xAxis: {
                        type: 'category'
                    },
                    yAxis: {
                        min: 0,
                        max: 10,
                        title: {
                            text: 'Số lượng xe'
                        }

                    },

                    plotOptions: {
                        series: {
                            borderWidth: 0,
                            dataLabels: {
                                enabled: true,

                            }
                        }
                    },


                    series: [
                        {
                            name: "Lượng xe",
                            colorByPoint: true,
                            data: [
                                {
                                    name: "Tháng 1",
                                    y: data.thang1
                                },
                                {
                                    name: "Tháng 2",
                                    y: data.thang2
                                },
                                {
                                    name: "Tháng 3",
                                    y: data.thang3
                                },
                                {
                                    name: "Tháng 4",
                                    y: data.thang4
                                },
                                {
                                    name: "Tháng 5",
                                    y: data.thang5
                                },
                                {
                                    name: "Tháng 6",
                                    y: data.thang6
                                },
                                {
                                    name: "Tháng 7",
                                    y: data.thang7
                                },
                                {
                                    name: "Tháng 8",
                                    y: data.thang8
                                },
                                {
                                    name: "Tháng 9",
                                    y: data.thang9
                                },
                                {
                                    name: "Tháng 10",
                                    y: data.thang10
                                },
                                {
                                    name: "Tháng 11",
                                    y: data.thang11
                                },
                                {
                                    name: "Tháng 12",
                                    y: data.thang12
                                }
                            ]

                        }
                    ]
                });
            }
        });

        $.ajax({
            url: '@Url.Action("GetRevenueData")',
            type: "GET",
            data: { year: year },
            success: function (data) {
                console.log("data2:", data);
                Highcharts.chart('container2', {
                    chart: {
                        type: 'column'
                    },
                    title: {
                        text: 'Thống kê lợi nhuận bán hàng năm ' + year
                    },

                    xAxis: {
                        categories: [
                            'Tháng 1',
                            'Tháng 2',
                            'Tháng 3',
                            'Tháng 4',
                            'Tháng 5',
                            'Tháng 6',
                            'Tháng 7',
                            'Tháng 8',
                            'Tháng 9',
                            'Tháng 10',
                            'Tháng 11',
                            'Tháng 12'
                        ],
                        crosshair: true
                    },
                    yAxis: {

                        title: {
                            text: 'Vnđ'
                        }
                    },
                    plotOptions: {
                        
                        series: {
                            animation: {
                                duration: 3000
                            }
                        }
                    },
                    series: [{
                        name: 'Nhập vào',
                        color: '#00BFFF',
                        data: data.nhaphang


                    }, {
                        name: 'Bán ra',
                        color: '#ff7c0c',
                        data: data.banhang

                    }, {
                        name: 'Lợi nhuận bán hàng',
                        color: '#51cf5f',
                        data: data.doanhthuvattu

                    }]
                });
            }
        });

        $.ajax({
            url: '@Url.Action("GetRevenueData")',
            type: "GET",
            data: { year: year },
            success: function (data) {
                console.log("data2:", data);
                Highcharts.chart('container3', {
                    chart: {
                        type: 'line'
                    },
                    title: {
                        text: 'Tổng doanh thu và lợi nhuận ròng năm ' + year
                    },
                    xAxis: {
                        categories: [
                            'Tháng 1',
                            'Tháng 2',
                            'Tháng 3',
                            'Tháng 4',
                            'Tháng 5',
                            'Tháng 6',
                            'Tháng 7',
                            'Tháng 8',
                            'Tháng 9',
                            'Tháng 10',
                            'Tháng 11',
                            'Tháng 12'
                        ]
                    },
                    yAxis: {

                        title: {
                            text: 'Vnđ'
                        },
                        stackLabels: {
                            enabled: true,
                            style: {
                                fontWeight: 'bold',
                                color: ( // theme
                                    Highcharts.defaultOptions.title.style &&
                                    Highcharts.defaultOptions.title.style.color
                                ) || 'gray'
                            }
                        }
                    },
                    legend: {
                        align: 'right',
                        x: -30,
                        verticalAlign: 'top',
                        y: 25,
                        floating: true,
                        backgroundColor:
                            Highcharts.defaultOptions.legend.backgroundColor || 'white',
                        borderColor: '#CCC',
                        borderWidth: 1,
                        shadow: false
                    },
                    tooltip: {
                        headerFormat: '<b>{point.x}</b><br/>',
                        pointFormat: '{series.name}: {point.y}<br/>'
                    },
                    plotOptions: {
                        line: {
                            dataLabels: {
                                enabled: true
                            },
                            enableMouseTracking: true
                        },
                        series: {
                            animation: {
                                duration: 2000
                            }
                        }
                    },
                    series: [{
                        name: 'Tổng doanh thu ',
                        data: data.bienlai,
                        color: '#5bc8ac'
                    },
                    {
                        name: 'lợi nhuận ròng ',
                        data: data.loinhuanrong,
                        color: '#eda625'
                    }]
                });
            }
        });

        $.ajax({
            url: '@Url.Action("GetPayData")',
            type: "GET",
            data: { year: year },
            success: function (data) {
                console.log("data2:", data);
                Highcharts.chart('container4', {
                    chart: {
                        type: 'column'
                    },
                    title: {
                        text: 'Thống kê biên lai năm ' + year
                    },
                    xAxis: {
                        categories: [
                            'Tháng 1',
                            'Tháng 2',
                            'Tháng 3',
                            'Tháng 4',
                            'Tháng 5',
                            'Tháng 6',
                            'Tháng 7',
                            'Tháng 8',
                            'Tháng 9',
                            'Tháng 10',
                            'Tháng 11',
                            'Tháng 12'
                        ]
                    },
                    yAxis: {
                        min: 0,
                        title: {
                            text: 'Vnđ'
                        },
                        stackLabels: {
                            enabled: true,
                            style: {
                                fontWeight: 'bold',
                                color: ( // theme
                                    Highcharts.defaultOptions.title.style &&
                                    Highcharts.defaultOptions.title.style.color
                                ) || 'gray'
                            }
                        }
                    },
                    legend: {
                        align: 'right',
                        x: -30,
                        verticalAlign: 'top',
                        y: 25,
                        floating: true,
                        backgroundColor:
                            Highcharts.defaultOptions.legend.backgroundColor || 'white',
                        borderColor: '#CCC',
                        borderWidth: 1,
                        shadow: false
                    },
                    tooltip: {
                        headerFormat: '<b>{point.x}</b><br/>',
                        pointFormat: '{series.name}: {point.y}<br/>Total: {point.stackTotal}'
                    },
                    plotOptions: {
                        column: {
                            stacking: 'normal',
                            dataLabels: {
                                enabled: true
                            }
                        }
                    },
                    series: [{
                        name: 'Đã thanh toán',
                        data: data.paid,
                        color: '#bc3353'
                    }, {
                        name: 'Còn nợ',
                        data: data.owe,
                        color: '#404040'
                    }]
                });
            }
        });


        /////////////////////////////////////
        var options = new Object();
        $.ajax({
            type: "GET",
            url: '@Url.Action("GetServiceData")',
            data: { year: year },
            success: function (list) {


            options.chart = new Object();
            options.chart.renderTo = 'container5';
            options.title = new Object();
            options.title.text = 'Thống kê tỷ lệ % dịch vụ được sử dụng';
            options.chart.type = 'pie';
            options.tooltip = new Object();
            options.tooltip.pointFormat = '{series.name}: <b>{point.percentage:.1f}%</b>';


            options.series = new Array();
            options.series[0] = new Object();
            options.series[0].name = 'Tỷ lệ'
            options.series[0].data = new Array();
                $.each(list, function (key, item) {
                    options.series[0].data[key] = new Object();
                    options.series[0].data[key].name = item.name,
                        options.series[0].data[key].y = item.data,
                    console.log("option:", options);

                });
                var chart = new Highcharts.Chart(options);
                }
            });
        });

});


    // Create the chart


</script>
