@model GaraManagement.Models.Pay

@{
    ViewData["Title"] = "Xóa biên lai";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<hr data-content="Xóa biên lai" class="hr-text hr-delete">

<div class="table-area">
    <div class="row infor-repair">
        <div class="col-md-4">
            <div class="row form-group">
                <div class="col-md-4">
                    <h5>Chủ xe:</h5>
                </div>
                <div class="col-md-8">
                    <h4>@Model.IdRepairNavigation.IdCarNavigation.IdCustomerNavigation.Name</h4>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-md-4">
                    <h5>Điện thoại:</h5>
                </div>
                <div class="col-md-8">
                    <h4>@Model.IdRepairNavigation.IdCarNavigation.IdCustomerNavigation.Phone</h4>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-md-4">
                    <h5>Địa chỉ:</h5>
                </div>
                <div class="col-md-8">
                    <h4>@Model.IdRepairNavigation.IdCarNavigation.IdCustomerNavigation.Address</h4>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-md-4">
                    <h5>CMND:</h5>
                </div>
                <div class="col-md-8">
                    <h4>@Model.IdRepairNavigation.IdCarNavigation.IdCustomerNavigation.IdentityCardNumber</h4>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="row form-group">
                <div class="col-md-5">
                    <h5>Tên xe:</h5>
                </div>
                <div class="col-md-7">
                    <h4>@Model.IdRepairNavigation.IdCarNavigation.IdCarModelNavigation.ModelName</h4>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-md-5">
                    <h5>Biển số:</h5>
                </div>
                <div class="col-md-7">
                    <h4>@Model.IdRepairNavigation.IdCarNavigation.LicensePlates</h4>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-md-5">
                    <h5>Ngày nhập xưởng:</h5>
                </div>
                <div class="col-md-7">
                    <h4>@Model.IdRepairNavigation.DateOfFactoryEntry</h4>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-md-5">
                    <h5>Ngày xuất xưởng:</h5>
                </div>
                <div class="col-md-7">
                    <h4>@Model.IdRepairNavigation.DateFinished</h4>
                </div>
            </div>
        </div>
        <div class="col-md-4 pay">
            <div class="row form-group">
                <div class="col-md-5">
                    <h5>Ngày thanh toán: </h5>
                </div>
                <div class="col-md-7">
                    <h4>@Model.DateOfPayment</h4>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-md-5">
                    <h5>Đã thanh toán: </h5>
                </div>
                <div class="col-md-7">
                    <h4>@Model.Paid</h4>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-md-5">
                    <h5>Đã cập nhật: </h5>
                </div>
                <div class="col-md-7">
                    <h4>@Model.Update_at</h4>
                </div>
            </div>
        </div>
    </div>
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <a class="btn btn-sm btn-default" asp-action="Index">Trở lại danh sách</a>
        <input type="submit" value="Xóa" class="btn btn-sm btn-danger" />

    </form>
</div>
    
