@model GaraManagement.Models.Repair

@{
    ViewData["Title"] = "Details";
}

<link href="~/assets/js/MDB/css/addons/datatables.min.css" rel="stylesheet">
<link href="~/assets/css/customStyleLayout.css" rel="stylesheet" />

<div class="container-fluid">
    <div class="c-subheader justify-content-between px-3">
        <ol class="breadcrumb border-0 m-0 px-0 px-md-3">
            <li class="breadcrumb-item">Home</li>
            <li class="breadcrumb-item"><a href="#">Admin</a></li>
            <li class="breadcrumb-item">QL Sửa chữa</li>
            <li class="breadcrumb-item"><a asp-action="Index">Nhập xuất xưởng</a></li>
            <li class="breadcrumb-item active">Chi tiết phiếu sửa chữa | id: @Model.Id</li>

        </ol>
    </div>
    <div class="row detail">
        <div class="col-md-12">
            <div class="table-area">
                <h4 class="title">Chi tiết phiếu sửa chữa</h4>
                <div class="row">
                    <div class="col-md-6 detail-Customer">
                        <div class="row">
                            <div class="col-md-4 left">
                                <p>Chủ xe:</p>
                            </div>
                            <div class="col-md-8 right">
                                <h4>@Model.IdCarNavigation.IdCustomerNavigation.Name</h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 left">
                                <p>Địa chỉ:</p>
                            </div>
                            <div class="col-md-8 right">
                                <h4>@Model.IdCarNavigation.IdCustomerNavigation.Address</h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 left">
                                <p>Số điện thoại:</p>
                            </div>
                            <div class="col-md-8 right">
                                <h4>@Model.IdCarNavigation.IdCustomerNavigation.Phone</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 detail-Car">
                        <div class="row">
                            <div class="col-md-4 left">
                                <p>Tên xe:</p>
                            </div>
                            <div class="col-md-8 right">
                                <h4>@Model.IdCarNavigation.IdCarModelNavigation.ModelName</h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 left">
                                <p>Biển số:</p>
                            </div>
                            <div class="col-md-8 right">
                                <h4>@Model.IdCarNavigation.LicensePlates</h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 left">
                                <p>Màu:</p>
                            </div>
                            <div class="col-md-8 right">
                                <h4>@Model.IdCarNavigation.Color</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <a class="btn btn-sm btn-warning" asp-action="BaoGia" asp-route-id="@Model.Id">Báo giá</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 works">
            <div class="table-area">
                <h4 class="title">Công việc</h4>
                <a class="btn btn-sm btn-light create-work-btn" data-id-create="@ViewBag.IdGoodDeliveryNotes" data-toggle='modal' data-target='#createModal'><i class="far fa-plus-square"></i></a>
                <div>
                    <table id="dtTable" class="table table-striped table-bordered" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th>
                                    Tên công việc
                                </th>
                                <th>
                                    Số lượng
                                </th>
                                <th class="col-action">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.DetailRepairs != null)
                            {
                                foreach (var item in Model.DetailRepairs)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.IdWorkNavigation.WorkName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Amount)
                                        </td>
                                        <td class="action-button">
                                            <a class="btn btn-sm btn-warning edit-work-btn" data-toggle='modal' data-target='#editModal' data-id-repair="@item.IdRepair" data-id-work="@item.IdWork">Cập nhật</a>
                                            <a class="btn btn-sm btn-danger delete-btn" data-toggle='modal' data-target='#deleteConfirmModal' data-id-repair="@item.IdRepair" data-id-work="@item.IdWork">Xóa</a>
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-6 material">
            <div class="table-area">
                <h4 class="title">Vật tư</h4>
                @{
                    if (ViewBag.checkGoodsDeliveryNotes == "notNull")
                    {
                        if (ViewBag.checkDetailGoodsDeliveryNotes == "Null")
                        {
                            <a class="btn btn-sm btn-outline-danger delete-goodDelivery-btn" data-id-goodDelivery="@Model.GoodsDeliveryNotes.FirstOrDefault().Id" data-toggle='modal' data-target='#deleteConfirmModal'>Hủy yêu cầu xuất vật tư</a>
                        }
                        <a class="btn btn-sm btn-light create-material-btn" data-id-goodDelivery="@Model.GoodsDeliveryNotes.FirstOrDefault().Id" data-toggle='modal' data-target='#createModal'><i class="far fa-plus-square"></i></a>

                    }
                    else
                    {
                        <a class="btn btn-sm btn-outline-info create-goodDelivery-btn" data-id-repair="@Model.Id" data-toggle='modal' data-target='#createModal'>Yêu cầu xuất vật tư</a>
                    }
                }


                <div>
                    <table id="dtTableMaterial" class="table table-striped table-bordered" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th>
                                    Tên vật tư
                                </th>
                                <th>
                                    Số lượng
                                </th>
                                <th class="col-action">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (ViewBag.checkGoodsDeliveryNotes == "notNull")
                            {
                                foreach (var item in Model.GoodsDeliveryNotes.FirstOrDefault().DetailGoodsDeliveryNotes)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.IdMaterialNavigation.Name)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Amount)
                                        </td>
                                        <td class="action-button">
                                            <a class="btn btn-sm btn-warning edit-material-btn" data-toggle='modal' data-target='#editModal' data-id-goodDelivery="@item.IdGoodsDeliveryNote" data-id-material="@item.IdMaterial">Cập nhật</a>
                                            <a class="btn btn-sm btn-danger delete-material-btn" data-toggle='modal' data-target='#deleteConfirmModal' data-id-goodDelivery="@item.IdGoodsDeliveryNote" data-id-material="@item.IdMaterial">Xóa</a>
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@* View Modal*@
<div id="createModal" class="modal fade col-md-12" tabindex="-1" role="dialog">
    <div class="modal-dialog w-full" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4>Create New Type</h4>
            </div>
            <div class="modal-body">
                <div class="spinner overlay-loading">
                    <span></span>
                    <span class="rect2"></span>
                    <span class="rect3"></span>
                    <span class="rect4"></span>
                    <span class="rect5"></span>
                </div>
            </div>
            <div class="modal-footer">
                <div class="modal-actions col-md-offset-3 col-md-9">
                    <button icon-name="action-cancel" name="close" class="btn btn-default" data-dismiss="modal">
                        Close
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
@* View Modal edit*@
<div id="editModal" class="modal fade col-md-12" tabindex="-1" role="dialog">
    <div class="modal-dialog w-full" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4>Cập nhật vật tư</h4>
            </div>
            <div class="modal-body">
                <div class="spinner overlay-loading">
                    <span></span>
                    <span class="rect2"></span>
                    <span class="rect3"></span>
                    <span class="rect4"></span>
                    <span class="rect5"></span>
                </div>
            </div>
            <div class="modal-footer">
                <div class="modal-actions col-md-offset-3 col-md-9">
                    <button icon-name="action-cancel" name="close" class="btn btn-default" data-dismiss="modal">
                        Close
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
@* Modal delete *@
<div id="deleteConfirmModal" class="modal fade" role="dialog">
    <div class="modal-dialog delete">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 style="color:black;" class="modal-title">Bạn có chắc chắn không?</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-action col-md-8 offset-4">
                <a asp-action="Index" icon-name="action-cancel" class="btn btn-default" data-dismiss="modal" data-target="#deleteConfirmModal">
                    Cancel
                </a>
                <button icon-name="action-delete" class="btn btn-danger deleteConfirm-btn">
                    Delete
                </button>
            </div>
        </div>
    </div>
</div>

@* Modal delete delivery *@
@*<div id="deleteDeliveryConfirmModal" class="modal fade" role="dialog">
    <div class="modal-dialog delete">

        <div class="modal-content">
            <div class="modal-header">
                <h4 style="color:black;" class="modal-title">Bạn có chắc chắn không?</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-action">
                <div class="modal-actions col-md-8 offset-4">
                    <a asp-action="Index" icon-name="action-cancel" class="btn btn-default" data-dismiss="modal" data-target="#deleteConfirmModal">
                        Cancel
                    </a>
                    <button icon-name="action-delete" class="btn btn-danger deleteConfirm-btn">
                        Delete
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>*@

<style>
    .row {
        margin-right: -5px;
        margin-left: -5px;
    }

    .works .table-area {
        height: 420px;
    }

    .material .table-area {
        height: 420px;
    }

    .detail .table-area {
        height: 210px;
    }

    .works, .material, .detail .col-md-12 {
        padding: 5px;
    }

    .title {
        width: 20%;
        padding: 0 20px;
        color: white;
        position: relative;
    }
    .dataTables_scroll {
        position: absolute;
        top: 10px;
        left: -120px;
        width: 600px;
    }
    #dtTableMaterial_wrapper .dataTables_scroll {
        position: absolute;
        top: 36px;
        left: 0px;
        width: 600px;
    }
    .works .title {
        background: #ff6a00;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        left: -10px;
        float: left;
    }

    .material .title {
        background: #4cacff;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        right: -10px;
        float: right;
    }

    .detail .title {
        background: #0dca9e;
        border-radius: 20px;
        left: 500px;
    }

    th, td {
        padding: 0px 5px !important;
    }

    th {
        text-align: center;
    }

    .btn-light {
        background: white !important;
        color: #57ca6a !important;
        font-size: 18px !important;
        padding: 0px 5px !important;
        margin: 0 !important;
        box-shadow: 0px 0px 5px 2px lightgrey !important;
    }

    .create-material-btn {
        float: right;
    }

    .create-goodDelivery-btn {
        float: right;
        padding: 5px 5px !important;
        margin: 0 !important;
    }

    .delete-goodDelivery-btn {
        margin: 0 !important;
        float: left;
        position: absolute;
    }
</style>
<script src="~/assets/js/core/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        if ('@ViewBag.SuccessMessage' != "") {
            $.bootstrapGrowl('@ViewBag.SuccessMessage', {
                type: 'success',
                align: 'center',
                delay: 2000,
                stackup_spacing: 30
            });
        }
        // table
        $('#dtTable').DataTable(
            {
                "lengthChange": false, //Hide the Show Entries dropdown
                "bInfo": false,
                scrollY: 300,
                //scrollCollapse: true,
                //scroller: true
                "bPaginate": false
            });
        // table
        $('#dtTableMaterial').DataTable(
            {
                "lengthChange": false, //Hide the Show Entries dropdown
                "bInfo": false,
                scrollY: 300,
                bFilter: false,
                //scrollCollapse: true,
                //scroller: true
                "bPaginate": false
            });
    });


    // create work
    $(".create-work-btn").click(function () {
        console.log("shown modal event", event);
        var idRepair = @Model.Id;
        console.log("idRepair: ", idRepair);
        $.ajax({
            /**/
            url: '@Url.Action("Create","DetailRepairs")',
            /**/
            type: "GET",
            data: { idRepair: idRepair, layout: "_ModalLayout"},
            success: function (data) {
                $("#createModal .modal-content").html(data);
            }
        });
    });
    // edit work
    $(".edit-work-btn").click(function () {
        
        var idRepair = $(this).attr("data-id-repair");
        var idWork = $(this).attr("data-id-work");

        $.ajax({
            /**/
            url: '@Url.Action("Edit","DetailRepairs")',
            /**/
            type: "Get",
            data: { id: idRepair, idWork: idWork, layout: "_ModalLayout"},
            success: function (data) {
                $("#editModal .modal-content").html(data);
            }
        });
    });
    //------- yêu cầu vật tư
    $(".create-goodDelivery-btn").click(function () {
        console.log("shown modal event", event);
        var idRepair = $(this).attr('data-id-repair');
        console.log("Id Repair:", idRepair);
        $.ajax({
            /**/
            url: '@Url.Action("Create", "GoodsDeliveryNotes")',
            /**/
            type: "GET",
            data: { idRepair: idRepair , layout: "_ModalLayout", title: "Yêu cầu vật tư" },
            success: function (data) {
                $("#createModal .modal-content").html(data);
            }
        });
    });

        //--------- thêm vật tư
    $(".create-material-btn").click(function () {
        console.log("shown modal event", event);
        var idGoodDelivery = $(this).attr('data-id-goodDelivery');
        console.log("id GoodDelivery:", idGoodDelivery);
        $.ajax({
            /**/
            url: '@Url.Action("Create", "DetailGoodsDeliveryNotes")',
            /**/
            type: "GET",
            data: { id: idGoodDelivery , layout: "_ModalLayout"},
            success: function (data) {
                $("#createModal .modal-content").html(data);
            }
        });
    });
     //--------- cập nhật vật tư
    $(".edit-material-btn").click(function () {
        console.log("shown modal event", event);
        var idGoodDelivery = $(this).attr('data-id-goodDelivery');
        var idMaterial = $(this).attr("data-id-material");

        $.ajax({
            /**/
            url: '@Url.Action("Edit", "DetailGoodsDeliveryNotes")',
            /**/
            type: "GET",
            data: { id: idGoodDelivery, idMaterial: idMaterial, layout: "_ModalLayout"},
            success: function (data) {
                $("#editModal .modal-content").html(data);
            }
        });
    });
     //delete work
    $(".delete-btn").click(function () {
        var idRepair = $(this).attr("data-id-repair");
        var idWork = $(this).attr("data-id-work");

        console.log("idRepair:", idRepair);
        console.log("id material:", idWork);

        $(".deleteConfirm-btn").click(function () {
        console.log("shown modal event", event);

            $.ajax({
                /**/
                url: '@Url.Action("Delete","DetailRepairs")',
                /**/
                type: "POST",
                data: { idRepair: idRepair, idWork: idWork },
                success: function (data) {
                    window.location.href = data.redirectToUrl;
                }
            });
        });
    });

      //delete material
    $(".delete-material-btn").click(function () {
        var idgoodDelivery = $(this).attr("data-id-goodDelivery");
        var idMaterial = $(this).attr("data-id-material");

        console.log("idgoodDelivery:", idgoodDelivery);
        console.log("idMaterial:", idMaterial);

        $(".deleteConfirm-btn").click(function () {
        console.log("shown modal event", event);

            $.ajax({
                /**/
                url: '@Url.Action("Delete","DetailGoodsDeliveryNotes")',
                /**/
                type: "POST",
                data: { id: idgoodDelivery, idMaterial: idMaterial },
                success: function (data) {
                    window.location.href = data.redirectToUrl;
                }
            });
        });
    });

    //delete goodDeliery
    $(".delete-goodDelivery-btn").click(function () {
        var idgoodDelivery = $(this).attr("data-id-goodDelivery");

        console.log("idgoodDelivery:", idgoodDelivery);

        $(".deleteConfirm-btn").click(function () {
        console.log("shown modal event", event);

            $.ajax({
                /**/
                url: '@Url.Action("Delete","GoodsDeliveryNotes")',
                /**/
                type: "POST",
                data: { id: idgoodDelivery},
                success: function (data) {
                    window.location.href = data.redirectToUrl;
                }
            });
        });
    });
</script>