@model IEnumerable<GaraManagement.Models.Repair>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/assets/js/core/jquery.min.js"></script>
<link href="~/assets/css/customStyleLayout.css" rel="stylesheet" />

<div class="container-fluid">
    <div class="c-subheader justify-content-between px-3">
        <ol class="breadcrumb border-0 m-0 px-0 px-md-3">
            <li class="breadcrumb-item">Home</li>
            <li class="breadcrumb-item"><a href="#">Admin</a></li>
            <li class="breadcrumb-item">QL Sửa chữa</li>
            <li class="breadcrumb-item active">Nhập xuất xưởng</li>
        </ol>
    </div>
    <div class="row">
        <div class="col-md-3 mainleft">
            <div class="table-area">
                <div class="row custyle">
                    @*<a class="btn btn-sm btn-success create-btn" asp-action="Create">Nhập xưởng</a>*@
                    @*<div class="input-group no-border">
                            <form asp-action="Index" method="get">
                                <input id="search" type="text" name="search" class="form-control" value="@ViewData["GetTextSearch"]" placeholder="Search...">
                            </form>
                            <i class="fas fa-backspace"></i>
                        </div>*@
                    @*<div class="row create">
                            @{await Html.RenderPartialAsync("_CreateRepairPartialView", new Repair());}
                        </div>*@

                    <div class="filter">
                        <div class="table-area">
                            <div class="input-group no-border">
                                <form asp-action="Index" method="get">
                                    <input id="search" type="text" name="search" class="form-control" value="@ViewData["GetTextSearch"]" placeholder="Search...">
                                </form>
                            </div>

                            <h4 style="text-align: center; background: #fbbb04; border-radius: 5px;"><i class="fas fa-filter"></i>Lọc</h4>
                            <div style="text-align: center;">
                                <h5>Theo ngày nhập xưởng</h5>
                                <input id="date-filter" type="date" />
                                <br>
                                <h5>Theo trạng thái</h5>
                                <a class="btn btn-sm btn-outline-info preparing-btn">Đang chuẩn bị</a><br />
                                <a class="btn btn-sm btn-outline-warning repairing-btn">Đang Sửa</a><br />
                                <a class="btn btn-sm btn-outline-success success-btn">Hoàn thành</a>
                                <hr />
                                <h4><a class="btn btn-sm btn-outline-default all-btn">Tất cả</a></h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-9">
            <div class="table-area scroll">
                <div id="" class="row container-fluid loop-card">
                    @foreach (var item in Model)
                    {
                        <div class="col-md-4">
                            <div class="card d-block mt-1">
                                <div class="card-header p-2 p-lg-2 p-xl-2 ">
                                    <div class="row">
                                        <div class="col-md-10">
                                            <h3 class="mt-0">
                                                @item.IdCarNavigation.IdCarModelNavigation.ModelName
                                            </h3>
                                            <h4 style="color:#0f98ff;">@item.IdCarNavigation.LicensePlates</h4>
                                        </div>
                                        <div class="col-md-1" style="padding:0;">
                                            <button type="button" class="btn btn-more" data-toggle="dropdown" id="dropdownMenuButton" aria-expanded="false">
                                                <i class="fas fa-ellipsis-h"></i>
                                            </button>
                                            <div id="drop-menu" class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                                                <a class="dropdown-item edit-btn" data-id="@item.Id"><i class="fas fa-edit"></i>Cập nhật</a>
                                                <a class="dropdown-item" asp-action="Details" asp-route-id="@item.Id"><i class="fas fa-info-circle"></i>Chi tiết</a>
                                                <a class="dropdown-item delete-btn" data-id="@item.Id"><i class="far fa-trash-alt"></i>Xóa</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <hr class="m-0" />
                                <div class="card-body p-2 p-lg-2 p-xl-2">
                                    <div class="row">
                                        <div class="col-md-4 left">
                                            <p>Chủ xe:</p>
                                        </div>
                                        <div class="col-md-8 right">
                                            <h4>@item.IdCarNavigation.IdCustomerNavigation.Name</h4>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4 left">
                                            <p>Nhập xưởng:</p>
                                        </div>
                                        <div class="col-md-8 right">
                                            <h4>@item.DateOfFactoryEntry</h4>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4 left">
                                            <p>Xuất xưởng:</p>
                                        </div>
                                        <div class="col-md-8 right">
                                            <h4>@item.DateFinished</h4>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4 left">
                                            <p>Trạng thái:</p>
                                        </div>
                                        <div class="col-md-8 right">
                                            <h4 id="@item.State">@item.State.GetEnumDisplayName()</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@* Modal delete *@
<div id="deleteConfirmModal" class="modal fade" role="dialog">
    <div class="modal-dialog delete">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 style="color:black;" class="modal-title">Bạn có chắc chắn không?</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-action">
                <div class="modal-actions col-md-7 offset-5">

                    <form class="form-horizontal" asp-action="DeleteConfirmed">
                        <input id="delete-input" name="Id" type="hidden" />
                        <a asp-action="Index" icon-name="action-cancel" class="btn btn-sm btn-default" data-dismiss="modal" data-target="#deleteConfirmModal">
                            Cancel
                        </a>
                        <button type="submit" icon-name="action-delete" class="btn btn-sm btn-danger">
                            Delete
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


@*--modal---*@
<div id="createModal" class="modal fade col-md-12" tabindex="-1" role="dialog">
    <div class="modal-dialog w-full" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4>Yêu cầu vật tư</h4>
            </div>
            <div class="modal-body">
                <div class="spinner overlay-loading">
                    <span></span>
                    <span class="rect2"></span>
                    <span class="rect3"></span>
                    <span class="rect4"></span>
                    <span class="rect5"></span>
                </div>
            </div>
            <div class="modal-footer">
                <div class="modal-actions col-md-offset-3 col-md-9">
                    <button icon-name="action-cancel" name="close" class="btn btn-sm btn-default" data-dismiss="modal">
                        Close
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="editModal" class="modal fade col-md-12" tabindex="-1" role="dialog">
    <div class="modal-dialog w-full" style="max-width: 80%;" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4>Edit Supplies</h4>
            </div>
            <div class="modal-body">
                <div class="spinner overlay-loading">
                    <span></span>
                    <span class="rect2"></span>
                    <span class="rect3"></span>
                    <span class="rect4"></span>
                    <span class="rect5"></span>
                </div>
            </div>
            <div class="modal-footer">
                <div class="modal-actions col-md-offset-3 col-md-9">
                    <button icon-name="action-cancel" name="close" class="btn btn-sm btn-default" data-dismiss="modal">
                        Close
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .col-md-10{
        padding-right:0;
    }
    .loop-card .col-md-4 {
        padding: 0 7px;
    }

    .card .card-body .row {
        margin-left: -8px !important;
    }

    .repairs {
/*        background-color: #29a6c8;*/
        border-radius: 4px;
    }
    .repairs a.nav-link {
        background-color: rgba(200, 200, 200, 0.2);
        border-left: 5px solid #06b8ffc7 !important;
    }
    .left {
        padding: 0 0 0 20px;
    }

    #completed {
        color: #50e94d;
    }

    #repairing {
        color: #ff6a00;
    }

    #preparing {
        color: #29a6c8;
    }

    .right {
        padding: 0;
    }

    .all-btn {
        margin: 0;
    }

    .table-area {
        height: 100%;
    }

    .table-area.scroll {
        position: relative;
        overflow: scroll;
        height: 650px;
    }

    .mainleft, .filter {
        padding-right: 0;
        width: 100%;
    }

    h5 {
        margin: 10px 0 0 0;
        color: #8a8a8a; 
    }

    hr {
        margin: 6px;
    }

    .input-group {
        max-width: 100%;
    }

    .filter .table-area {
        background: #fff;
        box-shadow: 0px 0px 5px 5px #ededed;
        border-radius: 5px;
    }
    .input-group{
        margin: 5px 0;
    }
    .input-group form {
        width:100%;
    }
    .filter .btn {
        padding: 7px;
        width: 40%;
    }
    .btn.btn-outline-info:hover {
        background-color: #76c4d9;
    }
    .btn.btn-outline-warning:hover {
        background-color: #ff9800;
    }
    .btn.btn-outline-success:hover {
        background-color: #77cc7a;
    }
    .fas.fa-filter{
        margin:5px;
        font-size:17px;
    }
    #date-filter {
        border-radius: 4px;
        border-color: lightgrey;
    }
</style>

<script src="~/assets/js/core/jquery.min.js"></script>

<script>
    $(document).ready(function () {
        $('.nav .subRepair').toggleClass("show");
        $('.sidebar-wrapper .nav li a .repair').toggleClass("rotate");

        $('#dtTable').DataTable(
            {
                "pageLength": 7
            });
        if ('@ViewBag.SuccessMessage' != "")
        {
            $.bootstrapGrowl('@ViewBag.SuccessMessage', {
                type: 'success',
                align: 'center',
                delay: 2000,
                stackup_spacing: 30
            });
        }
        if ('@ViewBag.ErrorMessage' != "")
        {
            $.bootstrapGrowl('@ViewBag.ErrorMessage' + '&emsp;', {
                type: 'danger',
                align: 'center',
                delay: 2000,
                width: '130px',
                stackup_spacing: 30
            });
        }

        // xử lý color state


        //if ($("#state").val() == "completed") {
        //    $("#state").css("color", "green");
        //    console.log()
        //}
        //else if ($("#state").val() == "preparing") {
        //    $("#state").css("color", "gray");
        //}
        //else if ($("#state").val() == "repairing") {
        //    $("#state").css("color", "orange");
        //}

    });
    // edit modal
    $(".edit-btn").click(function () {
        console.log("shown modal event", event);
        var id = $(this).attr("data-id");
        $.ajax({
            /**/
            url: '@Url.Action("Edit")',
            /**/
            type: "GET",
            data: { id: id, layout: "_ModalLayout" },
            success: function (data) {
                $("#editModal").modal('show');
                console.log("data:", data);
                $("#editModal .modal-content").html(data);
            }
        });
     });

    //delete btn
     $(".delete-btn").click(function () {
        console.log("shown modal event", event);
         var repairId = $(this).attr("data-id");
        $.ajax({
            /**/
            url: '@Url.Action("Delete")',
            /**/
            type: "GET",
            data: { id: repairId },
            success: function (data) {
                $("#deleteConfirmModal").modal('show');
                console.log("ViewData:", data);
                $("#delete-input").val(data);
            }
        });
     });

    $("#date-filter").change(function () {
        var date = $(this).val();
        console.log("date:", date);
        $.ajax({
            /**/
            url: '@Url.Action("Index")',
            /**/
            type: "GET",
            data: { date: date },
            success: function (data) {
               $("body").html(data);
            }
        });
    });

    $(".preparing-btn").click(function () {
       $.ajax({
            /**/
            url: '@Url.Action("Index")',
            /**/
            type: "GET",
            data: { state: 0 },
            success: function (data) {
               $("body").html(data);
            }
        });
    });
    $(".repairing-btn").click(function () {
        $.ajax({
            /**/
            url: '@Url.Action("Index")',
            /**/
            type: "GET",
            data: { state: 1 },
            success: function (data) {
               $("body").html(data);
            }
        });
    });
    $(".success-btn").click(function () {
        $.ajax({
            /**/
            url: '@Url.Action("Index")',
            /**/
            type: "GET",
            data: { state: 2 },
            success: function (data) {
               $("body").html(data);
            }
        });
    });
    $(".all-btn").click(function () {
        window.location.href = "Repairs";
    });


</script>