@model GaraManagement.Models.Work

@{
    ViewData["Title"] = "Chi tiết thông tin công việc";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<hr data-content="@ViewData["Title"]" class="hr-text hr-detail">

<div class="view-detail">

    <dl class="row">
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.WorkName)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.WorkName)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Cost)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Cost)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.IdServiceNavigation.Name)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.IdServiceNavigation.Name)
        </dd>

    </dl>
</div>
<div class="footer-detail">
    <hr />
    <a asp-action="Index">Trở lại danh sách</a>
</div>
