@model GaraManagement.Models.Material

@{
    ViewData["Title"] = "Chi tiết vật tư";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var path = "../";
}

<hr data-content="@ViewData["Title"]" class="hr-text hr-detail">

<div class="view-detail">

    <div class="row">
        <div class="col-md-6">
            <dl class="row">
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Name)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Name)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Unit)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Unit)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Price)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.PriceMaterials.Where(p => p.IdMaterial == model.Id).OrderByDescending(p => p.UpdateAt).First().Price)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Amount)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Amount)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.CreateAt)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.CreateAt)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.UpdateAt)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.UpdateAt)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.IdTypeNavigation.Name)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.IdTypeNavigation.Name)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Description)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Description)
                </dd>
            </dl>
        </div>
        <div class="col-md-6">
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Image)
                </dt>
                <dd class="col-sm-8 image-detail">
                    <img src=@path@Html.DisplayFor(model => model.Image) alt="Alternate Text" />
                </dd>
            </dl>
        </div>
    </div>
</div>
<hr data-content="Chi tiết cập nhật giá" class="hr-text hr-detail">
<br />
@{var i = 1; }
<table class="table">
    <thead>
        <tr>
            <th>
                Stt
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdateAt)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.PriceMaterials.OrderByDescending(p => p.UpdateAt))
        {
            <tr>
                <td>
                    @i
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UpdateAt)
                </td>
            </tr>
            i += 1;
        }
    </tbody>
</table>
<div class="footer-detail">

</div>
<hr />
<a asp-action="Index">Back to List</a>
<link href="~/assets/css/customStyleLayout.css" rel="stylesheet" />