@model GaraManagement.Models.Material

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var path = "../";
}
<div class="view-detail">
    <h2 class="title">Chi tiết vật tư</h2>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <dl class="row">
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Name)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Name)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Unit)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Unit)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Price)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Price)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Amount)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Amount)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Description)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Description)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.IdTypeNavigation.Name)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.IdTypeNavigation.Name)
                </dd>
            </dl>
        </div>
        <div class="col-md-6">
            <dl class="row">
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Image)
                </dt>
                <dd class="col-sm-8 image-detail">
                    <img src=@path@Html.DisplayFor(model => model.Image) alt="Alternate Text" />
                </dd>
            </dl>
        </div>
    </div>

</div>
<div class="footer-detail">
    <hr />
    <a asp-action="Index">Back to List</a>
</div>
<link href="~/assets/css/customStyleLayout.css" rel="stylesheet" />