@model GaraManagement.ViewModels.TypeOfSupplyViewModel

@{
    ViewData["Title"] = "Xóa danh mục vật tư";
}

    <div class="view-delete">
        <h2 class="title">Xóa danh mục vật tư</h2>
        <h3><i class="fas fa-exclamation-triangle"></i>&emsp; Bạn có chắc chắn muốn xóa danh mục này không?</h3>
        <div>
            <hr />
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Name)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Name)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Description)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Description)
                </dd>
            </dl>
            <h3><i class="fas fa-exclamation-triangle"></i>&emsp;Những vật tư này sẽ bị xóa cùng với danh mục</h3>
            <table class="table table-striped custab">
                <thead>
                    <tr>
                        <th>
                            Tên vật tư
                        </th>
                        <th>
                            Mô tả
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.material)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Description)
                            </td>                         
                        </tr>
                    }                   
                </tbody>
            </table>

            <div>
                <a icon-name="action-delete" class="btn btn-danger" data-target="#deleteConfirmModal" data-toggle="modal">Delete</a> |
                <a asp-action="Index">Back to List</a>
            </div>
        </div>
        <div id="deleteConfirmModal" class="modal fade" role="dialog">
            <div class="modal-dialog delete">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 style="color:black;" class="modal-title">Are you sure?</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-action">
                        <form class="form-horizontal" asp-action="Delete">
                            <input type="hidden" asp-for="Id" />
                            <div class="modal-actions col-md-6 offset-6">
                                <a asp-action="Index" icon-name="action-cancel" class="btn btn-default" data-dismiss="modal" data-target="#deleteConfirmModal">
                                    Cancel
                                </a>
                                <button type="submit" icon-name="action-delete" class="btn btn-danger">
                                    Delete
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
