@model IEnumerable<GaraManagement.Models.Car>

@{
    ViewData["Title"] = "Index";
}
<script src="~/assets/js/core/jquery.min.js"></script>
<link href="~/assets/css/customStyleLayout.css" rel="stylesheet" />

<div class="container-fluid">
    <div class="c-subheader justify-content-between px-3">
        <ol class="breadcrumb border-0 m-0 px-0 px-md-3">
            <li class="breadcrumb-item">Home</li>
            <li class="breadcrumb-item"><a href="#">Admin</a></li>
            <li class="breadcrumb-item">QL khách hàng</li>
            <li class="breadcrumb-item active">Xe</li>
        </ol>
    </div>
    <div class="table-area">
        <div class="row custyle">
            @{
                if (@ViewBag.IdCustomer != null)
                {
                    <a class="btn btn-sm btn-success create-btn-cusId" data-id="@ViewBag.IdCustomer">Thêm xe cho khách hàng @ViewBag.CustomerName</a>
                }
                else
                {
                    <a class="btn btn-sm btn-success create-btn">Thêm mới xe</a>
                }
            }

            <div class="input-group no-border">
                <form asp-action="Index" method="get">
                    <input id="search" type="text" name="search" class="form-control" value="@ViewData["GetTextSearch"]" placeholder="Search...">
                </form>
                <i class="fas fa-backspace"></i>
            </div>

            <div id="" class="row container-fluid loop-card">
                @foreach (var item in Model)
                {
                    <div class="col-md-4 col-lg-3">
                        <div class="card d-block mt-1">
                            <div class="card-header p-2 p-lg-2 p-xl-2 ">
                                <div class="row">
                                    

                                    <div class="col-md-8">
                                        <h3 class="mt-0">
                                            @item.IdCarModelNavigation.ModelName
                                        </h3>
                                        <h4 style="color:#0f98ff;">@item.LicensePlates</h4>
                                    </div>
                                    <div class="col-md-2" style="padding:0;">
                                        <div class="row" style="padding-left:22px;">
                                            <button type="button" class="btn btn-more" data-toggle="dropdown" id="dropdownMenuButton" aria-expanded="false">
                                                <i class="fas fa-ellipsis-h"></i>
                                            </button>
                                            <div id="drop-menu" class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                                                <a class="dropdown-item edit-btn" data-id="@item.Id"><i class="fas fa-edit"></i>Sửa</a>
                                                <a class="dropdown-item delete-btn" data-id="@item.Id"><i class="far fa-trash-alt"></i>Xóa</a>
                                                <a class="dropdown-item repairCar-btn" data-id="@item.Id" data-toggle='modal' data-target='#createRepairModal'><i class="fas fa-tools"></i>Sửa chữa</a>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="car-logo">
                                                <img class="image-logo" src="@item.Image" alt="Alternate Text" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr class="m-0" />
                            <div class="card-body p-2 p-lg-2 p-xl-2">
                                <div class="row">
                                    <div class="col-md-3 left">
                                        <p>Chủ xe:</p>
                                    </div>
                                    <div class="col-md-8 right">
                                        <h4>@item.IdCustomerNavigation.Name</h4>
                                    </div>
                                </div>
                                
                                <div class="row">
                                    <div class="col-md-3 left">
                                        <p>Màu:</p>
                                    </div>
                                    <div class="col-md-8 right">
                                        <h4>@item.Color</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>


@* View Modal*@
<div id="createModal" class="modal fade col-md-12" tabindex="-1" role="dialog">
    <div class="modal-dialog w-full" style="max-width: 80%;" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4>Create New Employee</h4>
            </div>
            <div class="modal-body">
                <div class="spinner overlay-loading">
                    <span></span>
                    <span class="rect2"></span>
                    <span class="rect3"></span>
                    <span class="rect4"></span>
                    <span class="rect5"></span>
                </div>
            </div>
            <div class="modal-footer">
                <div class="modal-actions col-md-offset-3 col-md-9">
                    <button icon-name="action-cancel" name="close" class="btn btn-default" data-dismiss="modal">
                        Close
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="editModal" class="modal fade col-md-12" tabindex="-1" role="dialog">
    <div class="modal-dialog w-full" style="max-width: 80%;" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4>Edit Supplies</h4>
            </div>
            <div class="modal-body">
                <div class="spinner overlay-loading">
                    <span></span>
                    <span class="rect2"></span>
                    <span class="rect3"></span>
                    <span class="rect4"></span>
                    <span class="rect5"></span>
                </div>
            </div>
            <div class="modal-footer">
                <div class="modal-actions col-md-offset-3 col-md-9">
                    <button icon-name="action-cancel" name="close" class="btn btn-default" data-dismiss="modal">
                        Close
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
@* View Modal*@
<div id="createRepairModal" class="modal fade col-md-12" tabindex="-1" role="dialog">
    <div class="modal-dialog w-full" style="max-width: 30%;" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4>Create New Customer</h4>
            </div>
            <div class="modal-body">
                <div class="spinner overlay-loading">
                    <span></span>
                    <span class="rect2"></span>
                    <span class="rect3"></span>
                    <span class="rect4"></span>
                    <span class="rect5"></span>
                </div>
            </div>
            <div class="modal-footer">
                <div class="modal-actions col-md-offset-3 col-md-9">
                    <button icon-name="action-cancel" name="close" class="btn btn-default" data-dismiss="modal">
                        Close
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

@* Modal delete *@
<div id="deleteConfirmModal" class="modal fade" role="dialog">
    <div class="modal-dialog delete">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 style="color:black;" class="modal-title">Are you sure?</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-action">
                <div class="modal-actions col-md-7 offset-5">

                    <form class="form-horizontal" asp-action="DeleteConfirmed">
                        <input id="delete-input" name="Id" type="hidden" />
                        <a asp-action="Index" icon-name="action-cancel" class="btn btn-default" data-dismiss="modal" data-target="#deleteConfirmModal">
                            Cancel
                        </a>
                        <button type="submit" icon-name="action-delete" class="btn btn-danger">
                            Delete
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
@*============*@
<style>
    .car {
/*        background-color: #29a6c8;*/
        border-radius: 4px;
    }
    .car a.nav-link {
        background-color: rgba(200, 200, 200, 0.2);
        border-left: 5px solid #06b8ffc7 !important;
    }
    .create-btn {
        margin-left: 15px;
    }

    .table-area {
        background-color: #f9f9f9;
    }

    .main-panel {
        overflow: scroll;
    }

    .left {
        padding: 0 0 0 20px;
    }

    .right {
        padding: 0;
    }
</style>

<script>
    $(document).ready(function () {
        $('.nav .subCustomer').toggleClass("show");
        $('.sidebar-wrapper .nav li a .customer').toggleClass("rotate");

        if ('@ViewBag.SuccessMessage' != "")
        {
            $.bootstrapGrowl('@ViewBag.SuccessMessage', {
                type: 'success',
                align: 'center',
                delay: 2000,
                stackup_spacing: 30
            });
        }

    });

    $(".fa-backspace").click(function () {
        window.location.href = "/Cars/Index";
    });

     $(".create-btn").click(function () {
        console.log("shown modal event", event);
        $.ajax({
            /**/
            url: '@Url.Action("Create")',
            /**/
            type: "GET",
            data: {layout: "_ModalLayout" },
            success: function (data) {
                $("#createModal").modal('show');
                console.log("data:", data);
                $("#createModal .modal-content").html(data);
            }
        });
     });

    $(".edit-btn").click(function () {
        console.log("shown modal event", event);
        var idCar = $(this).attr("data-id");
        $.ajax({
            /**/
            url: '@Url.Action("Edit")',
            /**/
            type: "GET",
            data: { id: idCar, layout: "_ModalLayout" },
            success: function (data) {
                $("#editModal").modal('show');
                console.log("data:", data);
                $("#editModal .modal-content").html(data);
            }
        });
     });


     $(".delete-btn").click(function () {
        console.log("shown modal event", event);
         var carId = $(this).attr("data-id");
        $.ajax({
            /**/
            url: '@Url.Action("Delete")',
            /**/
            type: "GET",
            data: { id: carId },
            success: function (data) {
                $("#deleteConfirmModal").modal('show');
                console.log("ViewData:", data);
                $("#delete-input").val(data);
            }
        });
     });

    $(".create-btn-cusId").click(function () {
        console.log("shown modal event", event);
         var cusId = $(this).attr("data-id");
        $.ajax({
            /**/
            url: '@Url.Action("Create")',
            /**/
            type: "GET",
            data: { idCustomer: cusId, layout: "_ModalLayout" },
            success: function (data) {
                $("#createModal").modal('show');
                console.log("data:", data);
                $("#createModal .modal-content").html(data);
            }
        });
    });


     $(".repairCar-btn").click(function () {
         var idCar = $(this).attr('data-id');
         console.log("id Car:", idCar);
         $.ajax({
            /**/
            url: '@Url.Action("Create","Repairs")',
            /**/
             type: "GET",
             data: { idCar: idCar, layout: "_ModalLayout" },
             success: function (data) {
                 console.log("data view:", data);
                 if (data == "false")
                 {
                     window.location.href = '/Repairs/Index';
                 }
                $("#createRepairModal .modal-content").html(data);
            }
        });
         //window.location.href = '/Repairs/Index?idCar=' + idCar;


    });
</script>
